.description-card {
  background-color: @lightblue;
  padding: 39px 16px 35px 15px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.description-card__preview {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 11px;
}

.description-card__number {
  margin: 0;
  padding-bottom: 17px;
}

.description-card__information {
  margin: 0;
}
