.intro {
  @media (max-width: @mobile-width-only) {
    margin: 0 auto;
    background-image: url("../../../img/background-mobile.jpg");
    background-repeat: no-repeat;
  }
}

.intro__text-logo {
  @media (max-width: @mobile-width-only) {
    padding: 90px 19px 85px 19px;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin: auto;
    padding: 77px 0 91px 0;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin: auto;
    padding: 77px 0 91px 0;
  }
}

.intro__point {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 16px;
}

.intro__preview {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 32px 0 35px 0;
  margin: 0 auto;
  text-transform: uppercase;
  color: #000000;
}

.intro__description {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 auto;
  color: #000000;
}

.intro__wrapper {
  @media (min-width: @tablet-width) {
    background-image: url("../../../img/back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../../../img/background-main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 0;
  }
}
