.catalog-gallery__title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 30px 20px 0 20px;
}

.catalog-gallery__description {
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0 20px 42px 20px;
}

.catalog-gallery__list {
  padding: 0 20px 0 20px;
}

.catalog-gallery__item {
  list-style-type: none;
  margin-bottom: 50px;
}

.catalog-gallery__item:nth-last-child(1) {
  margin-bottom: 43px;
}

.catalog-gallery__name-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "PT Sans";
  text-align: left;
  margin: 0;
  padding-top: 15px;
}

.catalog-gallery__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "PT Sans";
  text-align: left;
  margin: 0;
  padding: 10px 0 11px 0;
}


